#doubtpage{
  text-align: justify;
  

}
#card-sec{
display: grid;
/* grid-template-columns: repeat(auto-fit, minmax(340px, 1fr)); */
gap: 1rem;
}
#answer-box{
  border: 3px solid #252525;
  min-height: 5cm;
  padding: 1cm;
}

#doubtpagecard{
  background-color: whitesmoke;
  min-height: 5cm;
}

#addanswerbtn{
  background-color: #252525;
  color: orange;
  max-width: fit-content;
  margin-top: 1rem !important;
margin: 0 auto;
}

#addanswerbtn:hover{
  background-color: orange;
  color: #252525;
}
#answer-sec{
  display: flex;
  flex-direction: column;
}